.Contact h1 {
  color: var(--contrast-color);
  font-size: 4rem;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.Contact h2 {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
}

.Contact a {
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-size: 1.25rem;
  color: var(--secondary-color);
}

.Contact .main {
  max-width: 1200px;
  margin: 170px auto;
}

@media only screen and (max-width: 992px) {
  .Contact .main {
    margin: 280px 16px 0;
  }
}
