:root {
  --primary-font-family: "Quicksand", sans-serif;
  --secondary-font-family: "Bona Nova", serif;
  --primary-color: #2ed0c2;
  --secondary-color: #4c5270;
  --tertiary-color: #4c4c4c;
  --contrast-color: #f652a0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
