:root {
  --primary-font-family: "Quicksand", sans-serif;
  --secondary-font-family: "Bona Nova", serif;
  --contrast-color: #5bc0be;
  --primary-color: #1c2541;
  --secondary-color: #3a506b;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
