.container {
  margin: 20px auto;
}

.navbar {
  font-family: var(--primary-font-family);
  color: var(--contrast-color);
  font-size: 20px;
  background: #fff;
}

.navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-links {
  justify-content: flex-end;
  text-align: end;
}
